<div class="footer row">
  <div class="footer-left col-md-6">
    <h4>Project Play Family Centre</h4>
  </div>
  <div class="footer-right col-md-6">
    39319, Falcon Crescent, Squamish - V8B 0V8 <br> <a class="phonenumber" href="tel:6049289355">(604) 928 - 9355</a>
  </div>
</div>
