<div class="page row page-padded-text">
  <div class="col-md-8">
    <h2>Contact</h2>
    <iframe class="map-wrapper" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13686.372947237125!2d-123.15026704116971!3d49.712893624745796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486f9b2b4116f4d%3A0xfe2ee17cf005e32a!2sFalcon+Cres%2C+Squamish%2C+BC+V8B+0V8!5e0!3m2!1sen!2sca!4v1496715691785" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="col-md-4 address-info">
    <p><strong>39319 Falcon Crescent</strong></p>
    <p>Squamish, BC</p>
    <p>V8B 0V8</p>
    <p>Daytime phone: <a class="phonenumber" href="tel:6042134151">(604) 213 - 4151</a></p>
    <p>e-mail: projectplaysquamish@gmail.com
  </div>
</div>
