<div class="page row">
  <div class="teaser-image">
    <img src="/public/images/front_page_picture_wide.png" />
  </div>
  <div class="col-md-9 left-text-column">
    <h2>Welcome to Project Play - Squamish</h2>
    <p>A licensed home preschool where the focus is on learning through play. </p>
    <p>We welcome children from 2.5 to 5 years of age, in our multi-age preschool classroom. </p>
    <p>At Project Play, children will be encouraged to develop their imagination and creativity, their knowledge, independent thinking skills and to promote their sense of wonder through the exploration of their own ideas and interests. This learning is facilitated in an environment that is friendly, comfortable, secure and inviting. Your child will be supported by a team of warm, nurturing, licensed early childhood educators and have enriching experiences and adventures. </p>
    <p>We incorporate the vision, principles and learning goals provided by the British Columbia Early Learning Framework. </p>
    <p>Project Play provides families with a premium quality preschool program located close to Brennan Centre and only a short drive from downtown Squamish. </p>
    <p>"All children are born with a curiosity about themselves, other people, and the world around them, and in this sense, are born learners" (BC Early Learning Framework) </p>
  </div>
  <div class="col-md-3 right-column">
    <div class="circle-button">
      <a href="/spaces">
        <span class="circle"></span>
        Spaces<br/><br/>
      </a>
    </div>
    <div class="circle-button">
      <a href="/register.html">
        <span class="circle"></span>
        Registrarion<br/>Inquiries
      </a>
    </div>
  </div>
</div>
