<div class="page row">

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/public/images/J_on_logs_480.png" alt="Image2">
    </div>

    <div class="item">
      <img src="/public/images/J_in_sandbox_480.png" alt="Image4">
    </div>

    <div class="item">
      <img src="/public/images/J_and_H_480.png" alt="Image5">
    </div>

    <div class="item">
      <img src="/public/images/J_Blocks_480.png" alt="Image3">
    </div>

    <div class="item">
      <img src="/public/images/RosaAndJ_480.png" alt="Image1">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <div class="col-md-9 left-text-column">
    <h2>Welcome to Project Play - Squamish</h2>
    <p>A licensed home child care centre where the focus is on learning through play. </p>
    <p>We welcome children from 2.5 to 5 years of age, in our pre-kindergarten program. </p>
    <p>At Project Play, children will be encouraged to develop their imagination and creativity, their knowledge, independent thinking skills and to promote their sense of wonder through the exploration of their own ideas and interests. This learning is facilitated in an environment that is friendly, comfortable, secure and inviting. Your child will be supported by a team of warm, nurturing, licensed early childhood educators and have enriching experiences and adventures. </p>
    <p>We incorporate the vision, principles and learning goals provided by the British Columbia Early Learning Framework. </p>
    <p>Project Play provides families with a premium quality pre-kindergarten program located close to Brennan Centre and only a short drive from downtown Squamish. </p>
    <p>"All children are born with a curiosity about themselves, other people, and the world around them, and in this sense, are born learners" (BC Early Learning Framework) </p>
  </div>
  <div class="col-md-3 right-column">
    <div class="circle-button">
      <a href="/spaces">
        <span class="circle"></span>
        Our<br/>Space<br/>
      </a>
    </div>
    <div class="circle-button">
      <a href="/register.html">
        <span class="circle"></span>
        Registrarion<br/>Inquiries
      </a>
    </div>
  </div>
</div>
