<div class="page page-padded-text row">
  <h1>Play-Based Learning</h1>

  <p>Learning through play is a term used in education and psychology to describe how a child can learn to make sense of the world around them.</p>
  <p>Through play, children develop social and cognitive skills, mature emotionally, and gain the self-confidence required to engage in new experiences and environments.</p>
  <p>When children have this kind of support, the benefits include gaining confidence as well as self-esteem, building relationships, problem-solving, conflict resolution, expanding language, understanding rules and limits, discovering talents, sparking creativity, inspiring thinking, defining personality, and sorting out likes and dislikes.</p>
  <p>In essence, healthy, valuable play supports a child in every developmental domain.</p>
  <p>Our play based learning setting provides children with long periods of uninterrupted play time, where children will have the opportunity to follow their own interests as they are encouraged to initiate activities and be self-directed with the support of their educators.</p>
  <p>The children learn to take ownership of their work and they will be gently guided into becoming "independent thinkers and doers".</p>
  <p>There will also be opportunities during the program when the children come together as a group to listen to each other, share information, follow rules and partake in group activities.</p>
  <p>Play based activities don’t replace intentional teaching, rather complement and enhance it!</p>
  <p>Open ended play based learning focuses on the process not the product. It is the learning that is taking place that is the all-important factor.</p>

</div>
