<div class="page page-padded-text row">
  <h1>Register interest</h1>

  Please send an email to projectplaysquamish@gmail.com with the following information:
  <br/>
  <br/>
  

<ul>
  <li> Child’s Name 
  <li> Child’s Birth Date 
  <li> Parent / Guardian Name 
  <li> Phone Number 
  <li> Preferred Start Date 
  <li> Days Preferred 
  <ul>
    <li> 5 days a week (Monday – Friday)
    <li> 3 days a week (Monday, Wednesday and Friday)
    <li> 2 days a week (Tuesday and Thursday)
  </ul>
</ul>
  <br/>
Note: Registering your interest is not an offer of a place.
</div>
