<div class="page row page-padded-text">
  <div class="col-md-8">
    <h2>Register Interest</h2>
    <p>For more information on our preschool program, such as our space and fees please fill the form below.</p>
    <p>We look forward to hearing from you!</p>
    <script type="text/javascript">(function a(d, w, u) {var h = d.getElementsByTagName("head")[0];var s = d.createElement("script");s.type = "text/javascript";s.src = "https://portal.form.io/lib/seamless/seamless.parent.min.js";s.onload = function b() {var f = d.getElementById("formio-form-5984cfbbbeb9930007aef2f2");if (!f || (typeof w.seamless === u)) {return setTimeout(b, 100);}w.seamless(f, {fallback:false}).receive(function(d, e) {window.location.href = "http://projectplaysquamish.ca";});};h.appendChild(s);})(document, window);</script><iframe id="formio-form-5984cfbbbeb9930007aef2f2" style="width:100%; border:none;" height="600px" src="https://formview.io/#/rgmgcyygzccmits/registrationenquiries?iframe=1&header=0"></iframe>
  </div>
</div>
