<div class="page page-padded-text row">
  <div class="col-md-9">
    <h2>Spaces</h2>
    <p>
      Project Play Family Centre consists of a brand new, family home with dedicated learning spaces for our preschool programs.
    </p>
    <p>
      Our indoor learning spaces have direct access to the outside, an integral component of our indoor-outdoor program. The outdoor environment have been thoughtfully designed by our team of educators, landscape architects and amazing wood craftsman, with an emphasis on sensory experiences and intriguing play spaces that invite exploration.
    </p>
    <p>
      The resources inside the room are thoughtful placed and have an emphasis on the natural, with soft furniture, neutral color shelves and educational wooden toys bringing a warm, calm feeling to the room and providing a child safe play and learning space for children.
    </p>
    <p>
      There is also significant use of recycled and repurposed materials (loose parts theory) – a cornerstone of our environmental policy.
    </p>
  </div>
</div>
