<div class="page page-padded-text row">
  <div class="col-md-9">
    <h2>Meet the staff at Project Play</h2>
    <h2>Rosa Barcotti</h2>
    <p> <img class="rosa-image" src="/public/images/rosa.png" align="right" height="300px"/>
With more than 30 years of experience in the field of education, Rosa brings a wealth of diverse knowledge to her teaching career, having worked in nursery schools, daycares, with the Ottawa Board of Education and The North Vancouver School District, working with families and children from age zero to six, as a facilitator for the Strong Start Programs. Currently she teaches/facilitates two courses for Algonquin College - Ontario Early Childhood Educator diploma program. Rosa holds a Bachelor of Arts degree in English and Portuguese along with an Early Childhood Education (RECE) diploma. She has worked in Brazil, Portugal and Canada, bringing an international perspective to her teaching style as well as several languages (English, Portuguese and Spanish). A committed professional, Rosa was part of the Ottawa Carleton District School Board (OCDSB) Full Day Kindergarten (FDK) implementation team. She was one of the first educators in the board responsible for developing and delivering an outdoor education program for her full day kindergarten class.  She has facilitated the Roots of Empathy program for many years. Rosa has always been drawn to teaching and working with students of all ages and continues her ongoing education through various workshops. Following her passion for the environment and for outdoor education, she received a Level 3 Forest School Practitioners Certification. She now collaborates with other educators in several Outdoor Programs in the West Coast and in Ottawa.</p>
  </div>
</div>
