<div class="page page-vision row">
  <h1>Vision</h1>

  <h2>Our program</h2>

  We provide an supportive environment where children explore freely, develop their self-confidence and thrive in all aspects of learning in a play based pre-kindergarten program.
  <br/>
  <br/>
  Project Play’s learning experiences and activities set the path so children fully develop their cognitive, physical, emotional and social abilities. Children’s natural curiosity and a well-designed environment provide children with the perfect combination of play and learning opportunities.
  <br/>
  <br/>
  Project Play’s philosophy is learning through play;
  <br/>

<ul>
  <li> By creating a safe play environment (indoors and outdoors)</li>
  <li> By observing the children at play and focusing on the learning that happens through play; using play as the means to teach and to foster development.</li>
  <li> By providing a wide variety of play experiences and materials through which young children can try new things, experiment, ask questions, talk, read, sing, dance, get messy at times, explore, and listen.</li>
  <li> By fueling creativity, curiosity, and the desire to know more with invitations to play and to ask questions.</li>
  <li> By giving children the gift of time for free play where children choose and direct their own play, balanced with structured play.</li>
  <li> By being close by while play in happening and being able to foresee and to step in with support if a conflict arises, to guide children in their problem-solving skills or to redirect play as needed.</li>
</ul>

  <br/>
  We see ourselves as part of community of learners. Project Play recognizes and respects the valuable contribution made to our program by all participants: Children, Families, Educators and our Community at large.

  <h2>Our Children</h2>

  Are capable, competent, co-contributors who are active participants in their own learning. Children are born with an innate desire to explore and experience everything that surrounds them, to ask questions about these experiences, and to learn by doing.

  <h2>Our Families</h2>

  Families are a child’s most significant relationship and the first and most influential teachers. We actively build strong partnerships and relationships with families, to nurture, care and educate their child in the best possible ways.

  <br/>
  <br/>
  We recognize that all families are not the same - we seek to build an environment that is inclusive, and that recognizes, celebrates and builds on the strength of the diverse cultural backgrounds, languages, abilities and special needs of all children and their families and our team.

  <h2>Our Team</h2>

  Our team members show trust, respect and support for each other and share our talents and abilities.

  <br/>
  <br/>
  We take an ethical and professional approach to children and their families and apply our knowledge and expertise in all aspects of our work.

  <h2>Our Environment</h2>

  We can ensure the future of our planet by educating those who will inherit it. We foster a program that seeks to build a connection with and a sense of wonder for nature. We help children understand present and future sustainability by promoting environmentally thoughtful practices (i.e. - growing plants, minimizing waste, using materials thoughtfully and reusing/recycling.)

  <br/>
  <br/>
  Project Play encourages children to play indoors and outdoors daily, where their sense of wonder and exploration are supported.

  <br/>
  <br/>
  “This is the time to immerse children in the stuff of the physical and natural worlds. Constructing forts, creating small imaginary words, hunting and gathering, searching for treasures, following streams and pathways, making maps, taking care of animals, gardening and shaping the earth are perfect activities during this stage.” David Sobel.

  <h2>Our World</h2>

  We acknowledge, respect and celebrate the culture and diversity within our community and beyond. We encourage children to develop a greater awareness of their wider world and how we are all participants in it.

  <br/>
  <br/>
  "Regular positive interactions within nature help children develop respect and a caring attitude for the environment. Not only are regular experiences in nature important, but also watching adults, both parents and teachers, modeling enjoyment of, comfort with, and respect for nature" (Cohen 1992 & Phenice & Griffore 2003, Wilson 1996).

</div>
